.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.form p {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.form input {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  color: #fff;
  max-width: 80px;
  height: 80px;
  background: #111;
  border: 1px solid #333;
  border-radius: 0.2rem;
}

.form p:not(:last-of-type)::after {
  content: ':';
  font-family: 'Roboto Mono', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: #888;
  position: relative;
  top: -45%;
  left: 60%;
}

.form input:hover,
.form input:focus {
  outline: none;
  border: 1px solid #f1a500;
}

.form button {
  grid-column: 1 / 4;
  max-width: max-content;
  justify-self: center;
}
